*{
    margin: 0;
    padding: 0;
}


/*------------Navigation bar--------*/
#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img {
    height: 40px;
    padding-left: 0px;
}

#nav-bar ul li a:hover {
    color: #0d38d3;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-item {
    margin-top: 15px;
    margin: 0 15px;
}

#get-involved {
    justify-content:end;
    list-style: none;
    width: 7%;
}
/*---Styles for smaller screens---*/
@media (max-width: 780px) {
    #get-involved {
        text-align: center;
        width: auto;
    }
}

/*------------Body--------*/
body {
    background-image: linear-gradient(to bottom right, #d4f2fd, #f6e3e2, #fff6d5);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

/*---profile boxes---*/

    .box{
        border-color: #0d38d3;
        border-width: 20px;
        height: 200px;
        width: 200px;
        background-color: #FFF9E2;
        font-size: 70pt;
        text-align: center;

    }

    profile-container{
        min-height: 1000px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

/*---Introduction---*/

#cloud-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100%;
    position: relative;
    z-index: 1;
    margin-top: 300px;
}

.cloud-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cloud {
    background: #fff;
    border-radius: 250px;
    width: 800px;
    height: 450px;

    box-shadow:
            60px -30px 0 10px #ffffff,
            170px 55px 0 -20px #ffffff,
            -60px 20px 0 0 #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.3;
    animation: float 4s ease-in-out infinite;
}
@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0); }
}

.cloud-text {
    font-family: "Poetsen One", sans-serif;
    font-size: 80px;

    color: #0da195;
    pointer-events: none;
    text-align: center;
    line-height: 1.3;
    animation: float 4s ease-in-out infinite;
}

@media (max-width: 768px) {
    .cloud {
        width: 90%;
        height: 250px;
    }
}