*{
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-image: url('../assets/Background-2.jpg');
    background-size: cover;
    background-position: center;
}

.about {
    height: 400vh;
}

.about-header {
    background-image: url('../assets/Half-Background.jpg');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}