*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---Nav bar styles for smaller screens---*/
@media (max-width: 780px) {
   #get-involved {
        text-align: center; 
        width: auto;
   }
}

body {
    height: 100%;
    background-image: url('../assets/Background-4.jpg');
    background-size: cover;
    background-position: center;
}
