*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---Nav bar styles for smaller screens---*/
@media (max-width: 780px) {
   #get-involved {
        text-align: center; 
        width: auto;
   }
}

body {
    height: 100%;
    background-image: url('../assets/Background-4.jpg');
    background-size: cover;
    background-position: center;
}


/* CSS - Main part for email container */
body{
    font-family:sans-serif
}
.contact-container{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;    
    padding: 20px;
    margin-right: 30%;

}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: smaller;
    gap: 20px;
    position: relative; 
    padding: 30px;
    border-radius: 10px;
    color:black;
}

.contact-left h3{
    font-size: Large;
}

.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #0c6b68;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: small;
}
.contact-inputs{
    width: 500px;
    height: 60px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: white;
    border-radius: 10px;
    background-color: #ffdb8c;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 10px;
}
.contact-inputs:focus{
    border: 2px solid #efa918;
}
.contact-left button{
    display: flex;
    align-items: left;
    padding: 15px 225px;
    font-size: 16px;
    color: white;
    gap: 10px;
    border: none;
    border-radius: 10px;
    background: #398fb9;
    cursor: pointer;
}


.work-container h3{
    font-size: 100px;
    color: #398fb9;
    padding-left: 100px;
}
