*{
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-image: url('../assets/Background-1.jpg');
    background-size: cover;
    background-position: center;
}

/*Fixed height is set to give you an idea of what the page will look like.
It doesn't have to be this size. Adjust as needed*/
.get-involved {
    height: 400vh;
}
.get-involved-subheader{
  padding-top: 30px;
}
.rounded-rectangle{
  display:block;
  margin:auto;
 width: 800px;
 height: 100px;
 background-color: white;
 border-radius: 100px;
 border-style:solid;
 border-width: 3px;
 box-shadow: 4px 4px 2px #1a516d60;
}
#subheader-text{
  text-align: center;
  text-transform: uppercase;
  padding-top: 25px;
  text-shadow: 2px 2px 2px #1a516d60;
}
.calendar-container {
  display:block;
  margin:auto;
  padding: 0px;
}
#calendar-section{
  padding-top:40px;
}
#faq-section{
  padding-bottom:80px;
}
.accordion {
  background-color: transparent;
  color: #000000;
  display: block;
  margin: auto; 
  cursor: pointer;
  padding: 15px;
  width: 80%;
  border-bottom-style: solid;
  border-top-style:none;
  border-left-style:none;
  border-right-style:none;
  border-width: 2px;
  border-color:#398FB9;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active-acc, .accordion:hover {
  background-color: #47b0e450;
}

.panel {
  padding: 2px 18px;
  background-color: #FFFFFF50;
  max-height: 0;
  width: 80%;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  display:block;
  margin: auto;
  text-align: center;
}
.accordion:after {
  content: '\002B'; 
  color: #777;
  float: right;
  margin-left: 5px;
}
.active-acc:after {
  content: "\2796"; 
}
.get-involved-header {
text-transform: uppercase;
text-align: center;
color: #398FB9;
padding: 10px;
border-bottom: 3px solid #398FB9;
margin: auto;
width: 50%;
}