*{
    margin: 0;
    padding: 0;
}
/*------------Navigation bar--------*/
#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img {
    height: 40px;
    padding-left: 0px;
}

#nav-bar ul li a:hover {
    color: #0d38d3;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-item {
    margin-top: 0 15px;
    margin: 0 15px;
}

#get-involved {
    justify-content:end;
    list-style: none;
    width: 7%;
}
/*---Styles for smaller screens---*/
@media (max-width: 780px) {
   #get-involved {
        text-align: center; 
        width: auto;
   }
}