*{
    margin: 0;
    padding: 0;
}
/*------------Navigation bar--------*/
#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img {
    height: 40px;
    padding-left: 0px;
}

#nav-bar ul li a:hover {
    color: #0d38d3;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-item {
    margin-top: 0 15px;
    margin: 0 15px;
}

#get-involved {
    justify-content:end;
    list-style: none;
    width: 7%;
}
/*---Styles for smaller screens---*/
@media (max-width: 780px) {
    #get-involved {
         text-align: center; 
         width: auto;
    }
 }

/*------------Get Involved Body--------*/
body{
    background-image: url("../assets/gwc\ background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:sans-serif
}
.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;    
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    position: relative; 
    padding: 30px;
    border-radius: 10px;

}
/*Square background*/
.contact-left::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E5F8FF;
    border-radius: 10px; 
    z-index: -1; 
}
.contact-left-title h2{
    font-weight: 600;
    color: #0c6b68;
    font-size: 20px;
    margin-bottom: 5px;
}
.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #0c6b68;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-inputs{
    width: 500px;
    height: 60px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: black;
    border-radius: 50px;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
    border: 2px solid #0c6b68;
}
.contact-left button{
    display: flex;
    align-items: left;
    padding: 15px 30px;
    font-size: 16px;
    color: #0c6b68;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: white;
    cursor: pointer;
}

