*{
    margin: 0;
    padding: 0;
}

/*---Styles for smaller screens---*/
@media (max-width: 780px) {
   #get-involved {
        text-align: center; 
        width: auto;
   }
}

/*----------Body----------*/
body {
    background-image: linear-gradient(to bottom right, #d4f2fd, #f6e3e2, #fff6d5);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}