/*---Styles for smaller screens---*/
@media (max-width: 780px) {
   #get-involved {
        text-align: center; 
        width: auto;
   }
}

/*This is a placeholder background gradient. We will add the background image once the content team makes it!*/
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*----------Navigation Bar----------*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;

}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.contact-btn {
    background: #ffe18d;
    border: none;
    padding: 10px 18px;
    font-weight: bold;
    border-radius: 10px;
}
/*----------Hero----------*/
.hero {
    position: relative;
    text-align: center;
    padding-top: 50px;
}

.hero-bg {
    width: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.hero-content {
    position: absolute;
    top: 30%;
    width: 100%
}

.title {
    font-size: 3rem;
    font-weight: bold;
}

.title span {
    color: #35b5c5;
}

.tag {
    background: #ffe18d;
    display: inline-block;
    padding: 8x 15px;
    border-radius: 8px;
    margin-top: 8px;
    font-weight: bold;
}

/*----------About----------*/
.about {
    padding: 40px;
    text-align: center;
}

.about p {
    max-width: 700px;
    margin: 20px auto;
}

.about-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
}

.about-images img {
    width: 40%;
    border-radius: 12px;
}

/*----------Meetings----------*/
.meet {
    padding: 80px 0;
    text-align: center;
}

.meet-box {
    background: #d2ebf7;
    border-radius: 20px;
    padding: 30px;
    width: 60%;
    margin: auto;
}

/*----------Events----------*/
.events {
    text-align: center;
    padding: 50px;
}

.event-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 25px 0;
}

.event-card {
    width: 150px;
    height: 100px;
    background: #eee;
    border-radius: 15px;
}

.calendar-link {
    font-weight: bold;
    text-decoration: none;
    color: #1b8dc9;
}
/*----------Footer----------*/
.footer-container{
    background-image: linear-gradient(to bottom right, #d4f2fd, #f6e3e2, #fff6d5);
}

.footer-container { 
    background-color: white!important;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-column.c1 {
    display: flex;
    align-content: center;
    flex-direction: column;
    padding-left: 10px;
}

.footer-column.c1 h2 {
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
}

.foot-column.c1 p {
    font-weight: 400;
}

.footer div {
    flex: 1;
}

.footer-column.c2 img {
    max-width: 60px;
    height: auto;
}


.c1 {
    justify-content: right;
}

.c1 p {
    width: 50%;
}

.c2 {
   display: flex;
   justify-content: center;
   align-items: center;
}
