.nav-bar {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    max-width: 100%;
}
/* ---Styles for smaller screens---
@media (max-width: 780px) {
   #get-involved {
        text-align: center; 
        width: auto;
   }
} */

.nav-logo {
    max-width: 100%;
}

.navbar .contact-us a {
    border: 3px solid #ffd875;
    padding: 6px 14px;
    border-radius: 8px;
    font-weight: 600;
    box-shadow: 3px 3px 0px #bcbcbc;
    max-width: 100%;
    transition: 0.25s ease;
}

.navbar .contact-us a:hover {
    background-color: #ffd875;
    color: black;
}

.home {
    margin-top: 0;
    padding-top: 0;
    height: auto;
    max-width: 100%;
}

.first-bg {
    max-width: 100%;
    display: block;
    margin-top: 0;
    background-image: url('../index-images/first-bg.png');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
    max-height: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

body {
    max-width: 100%;
    height: auto;
    background-image: url('../index-images/second-bg.png');
    background-size: cover;
    background-position: center;
}

/*main content*/
.logo-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.gwc-logo-logo {
    width: 600px;
    max-width: 100%;
}

.uncg-tag {
    display: inline-block;
    background-color: #ffd875;
    padding: 10px 25px;
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: 6px;
    margin-top: 12px;
    box-shadow: 3px 3px 0px #c9c9c9;
    max-width: 100%;
}

/*about section*/
.about-grid {
    max-width: 100%;
    margin: 80px auto;
    margin-top: 160px;
    display: grid;
    grid-template-columns: 2fr 1.1fr 1.2fr;
    gap: 50px;
    padding: 40px 0;

}

.about-text h2,
.meet-info h2 {
    font-weight: bold;
    margin-bottom: 15px;
    max-width: 100%;

}

.about-text p,
.meet-info p {
    line-height: 1.7;
    font-size: 1.05rem;
    max-width: 100%;

}
/*images*/
.topright-img {
    width: 100%;
    border-radius: 12px;
}

.bottomleft-img {
    width: 100%;
    border-radius: 12px;
}

.sesame-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
}

/*events*/
.events {
    max-width: 100%;
    margin-top: 40px;
    margin-bottom: 60px;
}

.events-boxes {
    margin: 25px 0;
    max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.event-box {
    width: 230px;
    height: 110px;
    background: #e0e0e0 ;
    border-radius: 12px;
}

.full-calendar-link {
    color: #007bff;
    text-decoration: none;
    font-weight: 600;
}

.full-calendar-link:hover {
    text-decoration: underline;
}
