/*---Styles for smaller screens---*/
@media (max-width: 780px) {
   #get-involved {
        text-align: center; 
        width: auto;
   }
}

/*This is a placeholder background gradient. We will add the background image once the content team makes it!*/
body {
    background-image: linear-gradient(to bottom right, #d4f2fd, #f6e3e2, #fff6d5);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}