*{
    margin: 0;
    padding: 0;
}

/*------------Navigation bar--------*/
#nav-bar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#nav-bar ul li a:hover {
    color: black;
}

.navbar-brand img {
    height: 40px;
    padding-left: 0px;
}

.navbar-nav {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.nav-item {
    margin-top: 0 15px;
    margin: 0 15px;
}

.nav-item a {
    color: #398FB9;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.navbar .contact-us a {
    font-weight: 600;
    box-shadow: rgb(188, 188, 188) 3px 3px 0px;
    max-width: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(255, 216, 117);
    border-image: initial;
    padding: 6px 14px;
    border-radius: 8px;
    transition: 0.25s;
}