/*This is a placeholder background gradient. We will add the background image once the content team makes it!*/
body {
    height: 100%;
    background-image: url('../assets/Background-4.jpg');
    background-size: cover;
    background-position: center;
}
